:root {
    --font-size: 16px;
    --serif: 'Source Serif Pro';
    --sans: 'Roboto';
    --condensed: 'Roboto Condensed';
    --mono: 'Fira Mono';
    --iconic: 'iconmonstr-iconic-font';

    --bg-primary: white;
    --bg-secondary: lightgray;
    --fg-primary: black;
    --ac-primary: darkred;
    --ac-secondary: white;

    --padding-standard: 20px;
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: var(--sans);
    background: var(--bg-secondary);
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 160%;
    font-weight: bold;
}

h3 {
    font-size: 140%;
    font-weight: bold;
}

h4 {
    font-size: 120%;
    font-weight: bolder;
}

h5 {
    font-size: 100%;
    font-weight: bolder;
}

h6 {
    font-size: 90%;
    font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--condensed);
}



.marginless {
    margin: 0;
}

.padded {
    padding: var(--padding-standard);
}

.uppercase {
    text-transform: uppercase;
}

.iconic {
    font-family: var(--iconic);
}

.a-button {
    display: inline-block;
    padding: 5px;
    background: var(--ac-secondary);
    color: var(--ac-primary);
    text-decoration: none;
    line-height: 1em;
}



.site-icon {
    padding: 5px;
    margin: 5px;
}

.circle-clip {
    clip-path: circle(32px at center);
    border-radius: 15px;
}



.flex-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.col-left {
    flex-grow: 1;
    text-align: left;
}

.col-right {
    flex-grow: 1;
    text-align: right;
}



header, footer {
    background: var(--ac-primary);
    color: var(--ac-secondary);
}

#root {
    padding: calc(var(--padding-standard) / 2);
    flex-grow: 1;
}

section {
    padding: calc(var(--padding-standard) / 2);
    background: var(--bg-primary);
    color: var(--fg-primary);
    font-family: var(--serif);
    margin: var(--padding-standard) 0;
}

address {
    font-style: normal;
}

a {
    color: var(--ac-secondary);
}